<div class="col-sm-6">
  <img src="../images/IMG_4022.JPG" alt="">
</div>
<div class="col-sm-6">
  <h1>Level Up Car Sales</h1>
  <p> The best darn tootin car dealership this side of the mississippi</p>
</div>
