<div class="col-sm-6">
    <img src="../images/dealerstockphoto1.jpg" alt="">
</div>
<h1>Inventory</h1>
<a class="button" href="/inventory/vehicles">Vehicle Inventory</a>
<a class="button" href="/inventory/parts">Parts Inventory</a>
