<div class="data-form">
    <form class="form-signin" action="/inventory/createPart" method="POST">
      <h2 class="form-signin-heading">Add to Parts Inventory</h2>
      <label for="inputPartNumber">Part Number</label>
      <input type="text" name="partNumber" id="inputPartNumber" class="form-control" placeholder="Part Number" autofocus>
      <label for="inputPartName">Part Name</label>
      <input type="text" name="partName" id="inputPartName" class="form-control" placeholder="Part Name" autofocus>
      <label for="inputPrice">Price</label>
      <input type="text" name="price" id="inputPrice" class="form-control" placeholder="Price">
      <label for="inputQuantity">Quantity</label>
      <input type="text" name="quantity" id="inputQuantity" class="form-control" placeholder="Quantity" required>
      <br/><button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
    </form>
  </div>