<div class="col-sm-6">
    <img src="../images/dealerstockphoto3.jpg" alt="">
</div>
<h1>Reviews</h1>
<a class="button" href="/reviews/new">Write a review</a>
<p>Here will be the reviews for the car dealership</p>
