<div class="data-form">
    <form class="form-signin" action="/reviews/create" method="POST">
      <h2 class="form-signin-heading">Add to Inventory</h2>
      <label for="inputName">Name</label>
      <input type="text" name="name" id="inputName" class="form-control" placeholder="Name" autofocus>
      <label for="inputEmail">email</label>
      <input type="text" name="email" id="inputEmail" class="form-control" placeholder="E-Mail" autofocus>
      <label for="inputReviewText">Review</label>
      <input type="text" name="reviewText" id="inputReviewText" class="form-control" placeholder="Write how you feel about us">
      <br/><button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
    </form>
  </div>